/*
***** author:wangrao
**** 常见官网  ****
**** 2017.2.27 ****
*/
@charset"utf-8";
body{
	padding:0;
	margin:0;
	min-width: 1280px;
}
ul{
	margin:0;
	padding:0;
}
/******clear float*******/
.clearfix{
	overflow: auto;
	_zoom:1;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
/*头部*/
.header{
	background: #fff;
	height: 56px;
}
.header .logo{
	margin:0;
	height: 56px;
	padding-left: 100px;
	background: url(images/logo.png) no-repeat 58px 14px;
	float: left;
}
.header .logo a{
	font-size: 21px;
	height: 56px;
	line-height: 56px;
	font-family: "黑体";
	font-weight: normal;
	color: #393939;
	text-decoration: none;	
}
.header ul{
	list-style-type: none;
	width: 598px;
	height: 56px;
	float: right;
}
 .header ul li{
	display: inline-block;
	margin:0;
	padding: 0;
	height: 56px;
	line-height: 51px;
} 
.header ul li a{
	display: block;
	height: 51px;
	color: #393939;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	text-decoration: none;
	text-align: center;
	padding: 0 22px;

}
.header ul li a.active{
	color: #E74F4D;
	border-bottom: 5px solid #E7504D;
	text-align: center;
}
.header ul li a:hover{
	color: #E74F4D;
	border-bottom: 5px solid #E7504D;
}
.header ul li.end a:hover{
	border:0;
}
/*登录按钮*/
.header ul li.end{
	background: url(images/login.png) no-repeat 10% 45%;
}
.header ul li.end a{
	color: #E74F4D;
}
/*banner*/
.banner{
	background: url(images/banner2.png) no-repeat center top;	
	height: 690px;
	position: relative;
}
.banner_text{
	width: 461px;
	height: 270px;
	font-family: "Microsoft Yahei";
	position: absolute;
	top: 230px;
	left: 114px;
}
.banner_text dt{
	font-size: 60px;
	height: 72px;
	line-height: 62px;
	color:#fff;
}
.banner_text dd{
	font-size: 21px;
	width: 298px;
	height: 61px;
	margin-top: 12px;
	color: #E7504D;
	margin-left: 4px;
}
.banner_text dd.banner_btn{
	background: #E7504D;
	width: 331px;
	height: 65px;
	line-height: 65px;
	margin-left: 8px;
	text-align: center;
	position: absolute;
	left: 0px;
	bottom:0;
}
.banner_btn a{
	display: inline-block;
	width: 331px;
	height: 65px;
	color:#fff;
	font-size: 30px;
	line-height: 38px;
	text-decoration: none;
}
/*banner end*/

/*item*/
.item{
	height: 138px;
	padding:46px 0 67px 0;
}
.item dl{
	margin:0;
	width: 25%;
	height: 139px;
	background: #fff;
	text-align: center;
	float: left;
}
.item dl dt{
	background: red;
	width: 42px;
	height: 42px;
	margin:0 auto;
	background: url(images/icon.png) no-repeat;
}
.item dl dt.new_world{
	background-position: 0 0;
}
.item dl dt.activity{
	background-position: 0 -56px;
}
.item dl dt.idea{
	background-position: -57px -54px;
}
.item dl dt.train{
	background-position: -56px 0px;
}
.item dl dd{
	height: 52px;
	margin:0;
	padding:0;
	margin-top: 42px;
	border-right: 2px solid #989999;
	font-size: 14px;
	font-family: "黑体";
}
.item dl dd span{
	display: inline-block;
	width: 158px;
	height: 38px;
	text-align: center;
}
.item dl dd.end{
	border-right:0;
}
/*adv*/
.adv{
	height: 138px;
	background: #EDEDEC url(images/advbg.png) no-repeat 50% 88px;
	padding-top: 224px;
}
.adv p{
	width: 868px;
	height: 60px;
	line-height: 60px;
	font-size: 54px;
	color: #323232;
	margin:0 auto;
	font-family: "黑体";
}
/*adv end*/

.ser_activity{
	height: 341px;
	background:url(images/search_bg.png) no-repeat center;
	background-size: cover;	
}
.ser_activity .search{
	width: 100%;
	height: 341px;
	background: rgba(253,153,153,0.3);
	font-family: "Microsoft Yahei";
}
 .search_info{
	width: 340px;
	height: 121px;
	padding-top: 51px;
	margin: 0 auto;
	color:#fff;
}
.search_info h3{
	text-align: center;
	font-size: 21px;
	font-weight: normal;
	padding: 0;
	margin:0;
	height: 37px;
} 
.search_info h3:after{
	content: "";
	display: block;
	width: 31px;
	margin: 6px auto;
	border-bottom: 3px solid #fff;
}
.search_info p{
	font-size: 12px;
	margin:0;
	margin-top: 18px;
}
.search_form{
	width: 1030px;
	height: 170px;
	margin:0 auto;
}
.search_form form div{
	width: 236px;
	margin-right: 28px;
	background: #fff;
	float: left;

}
.search_form select{
	border:none;
	 /*很关键：将默认的select选择框样式清除*/  
	  appearance:none;   
	  -moz-appearance:none;   
	  -webkit-appearance:none;   
	background: transparent url(images/select.png) no-repeat 99% center;
	width: 236px;
	height: 36px;
	padding-left: 3px;
	color: #A8A9AA;
	font-size: 12px;

}
.search_form select option{
	border:none;
	height: 22px;
	line-height: 27px;
	padding-top: 5px;
	padding-left: 30px;
	background: #E3E2E4;
}
.search_form button{
	border:0;
	width: 236px;
	height: 36px;
	background: #BF4F48;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}
/*图片集*/
div.activity{
	height: 505px;
	padding-top: 102px;
	background: #F7F7F7;
	font-family: "Microsoft Yahei";
}
div.activity .activity_item{
	width: 987px;
	height: 392px;
	margin:0 auto;
}
div.activity .activity_item .pics{
	width: 219px;
	height: 392px;
	margin:0;
	float: left;
	margin-right: 37px;
}
div.activity .activity_item .end{
	margin-right: 0;
}
div.activity .activity_item .pics h3{
	width: 219px;
	height: 51px;
	font-size: 21px;
	margin:0;
	text-align: center;
	font-weight: normal;
	font-family: "黑体";
}
div.activity .activity_item .pics h5{
	width: 219px;
	height: 41px;
	font-size: 14px;
	margin:0;
	padding-top: 10px;
	text-align: center;
	font-weight: normal;
	font-family: "Microsoft Yahei";
}
div.activity .activity_item .pics .pics_img{
	width: 217px;
	height: 326px;
	border: 1px solid #CECECE;
	text-align: center;
	background: #fff;
	padding-top: 13px;
}
div.activity .activity_item small{
	color: #A6A6A6;
	display: block;
	padding-top: 3px;
	font-size: 12px;
}
/*文章集*/
.new_world{
	height: 566px;
}
.new_pic{
	width: 66.67%;
	height: 566px;
	background: url(images/new_pics.jpg) no-repeat center;
	background-size: cover;
	float: left;
	color: #fff;
}
.new_pic_text{
	width: 381px;
	height: 292px;
	margin:0 auto;
	margin-left: 25%;
	margin-top: 15%;
	font-family: "Microsoft Yahei";
}
.new_pic_h3{
	font-size: 49px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin:0 auto;
	margin-top: 127px;
	font-weight: normal;
}
.new_pic_time{
	font-size: 157px;
	height: 159px;
	line-height: 120px;
	text-align: center;
	margin:0;
}
.new_pic_little{
	text-align: center;
	font-size: 22px;


}
.new_info{
	width: 33.33%;
	height: 566px;
	background: #fff;
	float: left;
	text-align: center;
	position: relative;
}
.new_info:before{
	content: "";
	border:26px solid #fff;
	border-right: 26px solid #fff;
	border-bottom:15px solid transparent;
	border-top:15px solid transparent;
	border-left: 0px;
	position: absolute;
	top: 50%;
	left:0;  
	margin-left: -26px;	
}
.new_info_con{
	padding-top: 163px;
	padding-bottom: 130px;
	padding-left: 15%;
	padding-right: 15%;
}
.new_info_con h4{
	font-size: 21px;
	margin:0;
	padding-top: 8px;

}
.new_info_con h4 em{
	color:#E74F4D;
	font-style: normal;
}
.new_info_con p{
	font-size: 12px;
	color: #AAAAA9;
	line-height: 250%;
	padding-top: 30px;
}
.new_info_btn{
	width: 107px;
	height: 69px;
	margin:0 auto;
}
.new_info_btn a.btn{
	display: block;
	width: 103px;
	height: 31px;
	line-height: 31px;
	border:2px solid #E25C5F;
	text-align: center;
	text-decoration: none;
	color:#E25C5F;
	margin-top: 50px;
}
.new_info_btn a.btn:hover{
	background: #E25C5F;
	color:#fff;
}
.new_info_btn ul{
	width: 97px;
	height: 12px;
	text-align: center;
	padding:0;
	margin:0;
	padding-left: 12px;
	list-style-type: none;
}
.new_info_btn ul li{
	margin:0;
	padding:0;
	text-align: center;
	display: inline-block;
}
.new_info_btn ul li a{
	display: block;
	height: 10px;
	line-height: 12px;
	width: 10px;
	background: #fff;
	border:1px solid #919192;
	border-radius: 50%;
	margin-top: 8px;
	margin-right: 10px;
}
.new_info_btn ul li a.on{
	background: #919192;
}
.new_info_btn ul li a:hover{
	background: #919192;
}
/*us*/
.about{
	height: 521px;
	font-size: 21px;
}
.about hr{
	width: 31px;
	height: 3px;
	border: 0px;
	margin-top: 18px;
	margin-bottom: 22px;
}
.about h4{
	margin:0 auto;
	margin-top: 173px;
	font-weight: normal;
	text-align: center;
}
.about a{
	display: block;
	width: 168px;
	height: 42px;
	margin:0 auto;
	line-height: 42px;
	text-align: center;
	text-decoration: none;
	font-family: "黑体";
}

.about_l,.about_c,.about_r{
	width: 33.33%;
	height: 521px;
	float: left;
}
.about_l{
	background: #E8504E;
	color:#fff;
}

.about_l hr{
	background: #fff;
}
.about_l a{
	color:#fff;
	border:1px solid #fff;
}
.about_l a:hover{
	background: #fff;
	color: #E8504E;
}
/*关于我们中间*/
.about_c{
	background: #fff;
	color:#323232;
	position: relative;
}
.about_c:after{
	content: "";
	border:26px solid #fff;
	border-right: 26px solid #fff;
	border-bottom:15px solid transparent;
	border-top:15px solid transparent;
	border-right: 0px;
	position: absolute;
	top: 50%;
	right:0;  
	margin-right: -26px;	
}
.about_c hr{
	background: #ABABAB;
}
.about_c a{
	color:#E8504E;
	border:1px solid #E8504E;
}
.about_c a:hover{
	background: #E8504E;
	color: #fff;
	border:1px solid #fff;
}

.about_r{
	background: url(images/about_r.gif) no-repeat center;
	background-size: cover;
}
/*成为我们的志愿者*/
.become{
	width: 100%;
	height: 748px;
	background: #fff;
/*	padding:115px 0 164px 136px; */

}
.become_con{
	margin:115px 136px 0 136px;

}
.become_con h4{
	margin:0 auto;
	margin-top: 173px;
	font-weight: normal;
	text-align: center;
	font-size: 21px;
	height: 27px;
	line-height: 27px;
	font-family: "黑体";
}
.become_con hr{
	width: 31px;
	height: 3px;
	border: 0px;
	margin-top: 0;
	margin-bottom: 5px;
	background: #E7504D;
}
.become_con p{
	font-size: 12px;
	line-height: 150%;
	color: #AAAAA9;
	text-align: center;
	width: 424px;
	height: 37px;
	margin:0 auto;
	padding-top: 5px;
}
.become_con_info{
	height: 283px;
	width: 1003px;
	margin:0 auto;
	margin-top: 104px;
	clear: both;
	font-family: "宋体";
}
.become_con_info_l{
	width: 292px;
	height: 283px;
	float: left;
	overflow: hidden;
}
/*志愿者协议*/
.become_con_info_l h5{
	margin:0;
	font-size: 14px;
	line-height: 120%;
	font-family: "黑体";
}
.become_con_info_l p{
	font-size: 12px;
	line-height: 175%;
	color: #8B8684;
	width: 292px;
	height: 57px;
	margin:0;
	padding:0;
	margin-top: 21px;
	text-align: left;
	margin-bottom: 33px;
	position: relative;
}
.become_con_info_l p.last{
	margin-bottom: 12px;
}
.become_con_info_l p.last2{
	height: 17px;
	margin-top: 12px;
}
.become_con_info_l p a{
	display: block;
	position: absolute;
	right: 0;
	bottom:0;
	font-style: normal;
	text-decoration: none;
	color:#8B8684;
	height: 17px;
}
.become_con_info_l p a:before{
	content: "";
	display: inline-block;
	width: 10px;
	height: 6px;
	background: url(images/jt.png) no-repeat center;
	margin-right: 8px;
}
/*志愿者表单申请*/
.become_con_info_r{
	width: 711px;
	height: 283px;
	float: left;

}
.become_con_info_r .form{
	width: 639px;
	height: 283px;
	margin-left: auto;
}
.become_con_info_r .form input{
	border: none;
	background: #EDEDEF;
	height: 30px;
	width: 230px;
}
.become_con_info_r .form label[for="age"],.become_con_info_r .form label[for="address"]{
	margin-left: 20px;
}
.become_con_info_r .form label{
	display: inline-block;
	width: 296px;
	height: 40px;
	line-height: 40px;
	background: #EDEDEF;
	padding-left: 8px;
	color: #6A6261;
	margin-bottom: 12px;
	font-size: 12px;
}
.become_con_info_r .form textarea{
 	background: #EDEDEF;
 	width: 629px;
 	height: 121px;
 	padding:0;
	padding-left: 10px;
 	font-size: 12px;
 	border:0;
	margin-bottom: 12px;
}
.become_con_info_r .form button{
	width: 639px;
	height: 41px;
	line-height: 120%;
	text-align: center;
	border:0;
	background: #EDEDEF;
	font-size: 14px;
	color: #323232;
	cursor:pointer;
	font-family: "黑体";
}
/*联系我们*/
.contact{
	height: 269px;
	background: #32363E;
	padding-top: 87px;
}
.contact_info{
	width: 512px;
	height: 197px;
	margin:0 auto;
	color: #fff;
}
.contact_info h3{
	margin:0;
	text-align: center;
	font-size: 21px;
	font-family: "黑体";

}
.contact_info p.contactxt{
	text-align: center;
	font-size: 12px;
	font-family: "宋体";
	padding:0 14px;
	margin-bottom: 30px;
	line-height: 150%;
}

.contact_text{
	width: 420px;
	height: 41px;
	line-height: 41px;
	font-size: 14px;
	color: #AAAAA9;
	border: 0;
	vertical-align: top;
	padding-left: 10px;
}
.contact_btn{
	width: 81px;
	height: 43px;
	line-height: 41px;
	background: #6F7278;
	border: 0;
	cursor:pointer;
	font-size: 15px;
	color:#fff;
	font-family: "Microsoft Yahei";
	margin-bottom: 34px;
}
.contact_info p.share{
	width: auto;
	margin:0;
	padding-left: 165px;
}
.contact_info p.share a{
	display: block;
	height: 25px;
	background: url(images/share.png) no-repeat center;
	float: left;
	text-indent: -9999px;
	margin-right: 20px;
}
.contact_info p.share a.qq{
	width: 24px;
	height: 25px;
	background-position: 0 0;
}
.contact_info p.share a.sina{
	width: 29px;
	background-position: -33px -1px;
}
.contact_info p.share a.line{
	width: 29px;
	background-position: 0 -74px;
}
.contact_info p.share a.net{
	width: 29px;
	background-position: -38px -74px;
}
/*底部*/
.footer{
	height: 30px;
	background: #303039;
	padding-top: 28px;
}
.footer p{
	font-size: 12px;
	color:#fff;
	font-family: "宋体";
	margin:0;
	padding-left: 100px;
}
