/*
***** author:wangrao
**** 常见官网  ****
**** 2017.2.27 ****
*/
@charset"utf-8";
body{
	padding:0;
	margin:0;
	min-width: 1280px;
}
ul{
	margin:0;
	padding:0;
}
/******clear float*******/
.clearfix{
	overflow: auto;
	_zoom:1;
}
.clearfix:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/*头部*/
.header{
	background: #fff;
	height: 56px;
}
.header .logo{
	margin:0;
	height: 56px;
	padding-left: 100px;
	background: url(images/logo.png) no-repeat 58px 14px;
	float: left;
}
.header .logo a{
	font-size: 21px;
	height: 56px;
	line-height: 56px;
	font-family: "黑体";
	font-weight: normal;
	color: #393939;
	text-decoration: none;	
}
.header ul{
	list-style-type: none;
	width: 598px;
	height: 56px;
	float: right;
}
 .header ul li{
	display: inline-block;
	margin:0;
	padding: 0;
	height: 56px;
	line-height: 51px;
} 
.header ul li a{
	display: block;
	height: 51px;
	color: #393939;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	text-decoration: none;
	text-align: center;
	padding: 0 22px;

}
.header ul li a.active{
	color: #E74F4D;
	border-bottom: 5px solid #E7504D;
	text-align: center;
}
/*登录按钮*/
.header ul li.end{
	background: url(images/login.png) no-repeat 10% 45%;
}
.header ul li.end a{
	color: #E74F4D;
}
/*banner*/
.banner{
	background: url(images/banner2.png) no-repeat center top;	
	height: 690px;
	position: relative;
}
.banner_text{
	width: 461px;
	height: 270px;
	font-family: "Microsoft Yahei";
	position: absolute;
	top: 230px;
	left: 114px;
}
.banner_text dt{
	font-size: 60px;
	height: 72px;
	line-height: 62px;
	color:#fff;
}
.banner_text dd{
	font-size: 21px;
	width: 298px;
	height: 61px;
	margin-top: 12px;
	color: #E7504D;
	margin-left: 4px;
}
.banner_text dd.banner_btn{
	background: #E7504D;
	width: 331px;
	height: 65px;
	line-height: 65px;
	margin-left: 8px;
	text-align: center;
	position: absolute;
	left: 0px;
	bottom:0;
}
.banner_btn a{
	display: inline-block;
	width: 331px;
	height: 65px;
	color:#fff;
	font-size: 30px;
	line-height: 38px;
	text-decoration: none;
}
/*banner end*/

/*item*/
.item{
	height: 138px;
	padding:46px 0 67px 0;
}
.item dl{
	margin:0;
	width: 25%;
	height: 139px;
	background: #fff;
	text-align: center;
	float: left;
}
.item dl dt{
	height: 87px;
	background: url(images/item_icon1.png) no-repeat top center;

}
.item dl dd{
	height: 52px;
	margin:0;
	padding:0;
	border-right: 2px solid #989999;
	font-size: 14px;
	font-family: "黑体";
}
.item dl dd span{
	display: inline-block;
	width: 158px;
	height: 38px;
	text-align: center;
}
.item dl dd.end{
	border-right:0;
}
/*adv*/
.adv{
	height: 362px;
	background: #EDEDEC;
}
.activity{
	height: 948px;
	background: lightyellow;
}
.new_world{
	height: 566px;
	background: green;
}
.us{
	height: 1272px;
	background: #fff;
}
.contact{
	height: 356px;
	background: #32363E;
}
.footer{
	height: 58px;
	background: #303039;
}